.logInForm{
  justify-content: center;
  text-align: center;
  margin: 10%;
}

.logInFormContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInUserContainer{
  margin: 5px;
}
.logInPassContainer{
  margin: 5px;
}

.logInUser{
  align-items: center;
  max-width: 500px;
}

.logInButtons{
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 5px;
}

#button--register{
  margin: 5px;
}
#button--logIn{
  margin: 5px;
}


.registerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
