@import './logIn.css';
@import './messages.css';


body{
  background-image: url("../assets/earth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}



.renderArea{
  display: flex;
}
.friendsContainer{
  flex-basis: 25%;
  margin-right: 35px;
}

.friendSearchField{
  margin-bottom: 5px;
}

.friendCard{
  margin-top: 20px;
  text-align: center;
}

.mainContentSection{
  flex-basis: 50%;
}
ul{
  margin: 0;
}

.taskContentContainer{
  flex-basis: 25%;
  margin-left: 50px;
}

.tasksContainer{
  overflow-y: auto;
  max-height: 500px;
}

.taskFormCard{
  margin-bottom: 30px;
}

.taskCard{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.taskForm{
  margin-bottom: 10px;
}

.navbar-inverse{
  background-color: #484343;
  border-color: #080808
}

.navbar-fixed-bottom {
  top: 0;
  border-width: 0 0 1px;
}

.navbar {
  min-height: 50px;
  margin-bottom:20px;
  border: 1px solid transparent;
}

.navbar-text {
  color: whitesmoke;
  justify-content: left
}

.picSize {
  width: 160px;
  height: 150px
}

.hidden {
  display: none
}
.eventsContainer {
  margin-top: 25px;
  margin-bottom: 30px;
  max-height: 350px;
  overflow-y: auto;
  
}


.eventCard {
  border: 1px solid black;
  margin: 2px;
}

.firstEvent div {
  font-weight: bold;
}

.firstEvent {
  background-color: rgba(218, 165, 32, 0.726);
}

.newsContainer{
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 30px;
}


.messagesContainer{
  padding: 5px;
  margin-top: 25px;
  max-height: 350px;
  overflow-y: auto;
}

.lineBreak{
  border-bottom: 2px solid black;
}
