@import './logIn.css';
@import './messages.css';



.renderArea{
  display: flex;
  
}
.friendsContainer{
  flex-basis: 25%;
}

.mainContentSection{
  flex-basis: 50%;
}

.taskContentContainer{
  flex-basis: 25%;
}

.navbar-inverse{
  background-color: #484343;
  border-color: #080808
}

.navbar-fixed-bottom {
  top: 0;
  border-width: 0 0 1px;
}

.navbar {
  min-height: 50px;
  margin-bottom:20px;
  border: 1px solid transparent;
}

.navbar-text {
  color: whitesmoke;
  justify-content: left
}

.picSize {
  width: 100px;
  height: 100px
}

.hidden {
  display: none
}
.eventsContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.eventCard {
  border: 1px solid black;
  margin: 2px;
}

.firstEvent div {
  font-weight: bold;
}

.firstEvent {
  background-color: goldenrod;
}


